<!DOCTYPE html>
<html manifest="application.manifest">
<head>
  <title>ApplicationCacheTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaluts, "jquery.tmpl", "json", "jquery.offline" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
